dn: CN={{.Username }},OU=VaultManagedAccounts,DC=hashicorp,DC=local
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: user
userPrincipalName: {{.Username}}@hashicorp.local
sAMAccountName: {{.Username}}

dn: CN={{.Username }},OU=VaultManagedAccounts,DC=hashicorp,DC=local
changetype: modify
replace: unicodePwd
unicodePwd::{{ printf "%q" .Password | utf16le | base64 }}
-
replace: userAccountControl
userAccountControl: 66048
-

%{ for group_name in group_names ~}
dn: CN=${group_name},OU=VaultManagedAccounts,DC=hashicorp,DC=local
changetype: modify
add: member
member: CN={{.Username }},OU=VaultManagedAccounts,DC=hashicorp,DC=local 
-

%{ endfor }