dn: CN={{.Username }},OU=Vault Managed Accounts,DC=hashicorp,DC=local
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: user
userPrincipalName: {{.Username}}@hashicorp.local
sAMAccountName: {{.Username}}
description: Vault {{ .RoleName }} {{ .LeaseID }} issued for {{ .DisplayName }} at {{ timestamp "2006-01-02 15:04:05" }}

dn: CN={{.Username }},OU=Vault Managed Accounts,DC=hashicorp,DC=local
changetype: modify
replace: unicodePwd
unicodePwd::{{ printf "%q" .Password | utf16le | base64 }}
-
replace: userAccountControl
userAccountControl: 66048
-

%{ for group_dn in group_dns }
dn: ${group_dn}
changetype: modify
add: member
member: CN={{.Username}},OU=Vault Managed Accounts,DC=hashicorp,DC=local
-

%{ endfor }